<section class="hero">
  <div class="hero-body">
    <br>
    <% unless @user.avatar.nil? %>
      <p class="has-text-centered">
      <%= image_tag @user.avatar.variant(resize_to_limit: [300, nil]), class:"style_image" %>
      </p>
    <% end %>
    <br>
    <p class="title has-text-centered">
    <%= "#{@user.name}'s profile" %>
    </p>
    <% if @user.id != current_user.id %>
      <div class="has-text-centered">
        <%= button_to 'Add Friend', invitations_path(friend_id: @user), method: :post, class:"center-btn" %>
      </div>
    <% else %>
      <div class="has-text-centered">
        <%= button_to 'Friend Requests', invitations_path, method: :get, class:"center-btn" %>
      </div>
    <% end %>
  </div>
</section>
<div class="columns is-centered">
  <div class="column">
    <% if @user.profile.nil? && current_user.id == @user.id %>
      <%= link_to "Create your profile", new_profile_path %>
    <% else %>
    <% end %>
  </div>
</div>
<br>
<div class="columns">
  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <div class="box">
              <p class="title has-text-centered">About</p>
              <%= render 'user_profile' unless @user.profile.nil? %>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-child is-vertical">
            <div class="box">
              <p class="title has-text-centered">Images</p>
              <% @user.posts.each do |post| %>
                <p>
                <% if post.images.attached? %>
                  <% post.images.each do |pics| %>
                    <%= image_tag pics.variant(resize_to_limit: [100, nil]) %>
                  <% end %>
                <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-child is-vertical">
            <div class="box">
              <p class="title has-text-centered">Friends</p>
              <h1><strong> stuff will go here </strong></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-fifths">
      <%= render 'users/feed' %>
    </div>
  </div>
</div>
