<%= form_with model: @post, local: true do |form| %>
  <div class="field">
    <div class="control">
      <div>
        <% if !current_user.avatar.nil? %>
          <%= image_tag current_user.avatar.variant(resize_to_fill: [128, 128]), class: "style_image" %>
        <% end %>
      </div>
      <%= form.text_area :body, class: "textarea is-danger", placeholder:"What's on your mind, #{current_user.name}?"%>
    </div>
  </div>
  <div class="image-upload">
    <%= form.file_field :images, multiple: true %>
  </div>
  <br />
  <%= form.button :post, class: "button is-danger" %>
<% end %>
